[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dspy = "*"
streamlit = "*"
chromadb = "*"
pypdf = "*"
python-docx = "*"
"psycopg[binary]" = "*"
psycopg-pool = "*"
sqlparse = "*"

[requires]
python_version = "3.10"
